<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:form>
				<h3>Add cashflow</h3>
				<h:panelGrid columns="3" style="margin-bottom:10px" cellpadding="5">
			        <p:outputLabel id="selectApplicantMenu" value="Client: " />
			        <p:selectOneMenu required="true" id="loanOfficer" style="width:250px" value="#{addCashflowMB.applicant}" converter="#{applicantConverter}">
			            <f:selectItems value="#{applicantMB.applicantList}"/>
			        </p:selectOneMenu>
			            <br/>
			     
				 <h:outputLabel for="loanAmount" value="Loan amount: " />
				 <p:inputText id="loanAmount" required="true" requiredMessage="Please fill in the field" validatorMessage="Please select a value between 0.5 and 200000.5" value="#{addCashflowMB.loanAmount}" style="width:250px">
		                    <f:validateDoubleRange minimum="0.5" maximum="200000.5" />
		                    <p:ajax event="blur" update="loanAmountMsg" />
		        </p:inputText>
		        <p:message id="loanAmountMsg" for="loanAmount"/>
		        
		        <p:outputLabel for="dateSubmitted" value="Application date: "/>
        		<p:calendar required="true" requiredMessage="Please select a date" id="dateSubmitted" value="#{addCashflowMB.dateSubmitted}"/>
				<p:message id="dateSubmittedMsg" for="dateSubmitted"/>
				
				<!-- <p:separator/> -->
			    <p:commandButton id="addCashflow" value="Add" action="#{addCashflowMB.addCashflow}" ajax="false"/>
			    </h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
