<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">		
			<h:form>
				<p:panel header="Budget (average)">
				<!--  <p:messages/>-->
				<h:outputLabel value="Business" styleClass="h3"/>
				 <h:panelGrid columns="2" columnClasses="h4, value">

				 <h:outputText value="Cash inflow: " />
				 <p:inputText id="val1" value="#{budgetMB.averageBusinessCashInflow}">
		                    <f:validateDoubleRange minimum="0" maximum="200000.5" />
		                    <p:ajax event="keyup" update="val3" listener="#{budgetMB.handleBusinessKeyEvent}" />
		         </p:inputText>
		       
		         <h:outputText value="Cash outflow: " />
				 <p:inputText id="val2" value="#{budgetMB.averageBusinessCashOutflow}">
		                    <f:validateDoubleRange minimum="0" maximum="200000.5" />
		                    <p:ajax event="keyup" update="val3" listener="#{budgetMB.handleBusinessKeyEvent}" />
		         </p:inputText>
		          
		         <h:outputText value="Cash netflow: " />
				 <h:outputText id="val3" value="#{budgetMB.averageBusinessCashNetflow}" style="#{budgetMB.businessNetColor}" />

				<h:outputLabel value="Household" styleClass="h3"/>
				<h3></h3>

		         <h:outputText value="Cash inflow: " />
				 <p:inputText id="val4" value="#{budgetMB.averageHouseholdCashInflow}">
		                    <f:validateDoubleRange minimum="0" maximum="200000.5" />
		                    <p:ajax event="keyup" update="val6" listener="#{budgetMB.handleHouseholdKeyEvent}" />
		         </p:inputText>
		         
		         <h:outputText value="Cash outflow: " />
				 <p:inputText id="val5" value="#{budgetMB.averageHouseholdCashOutflow}">
		                    <f:validateDoubleRange minimum="0" maximum="200000.5" />
		                    <p:ajax event="keyup" update="val6" listener="#{budgetMB.handleHouseholdKeyEvent}" />
		         </p:inputText>
		         
		         <h:outputText value="Cash netflow: " />
				 <h:outputText id="val6" value="#{budgetMB.averageHouseholdCashNetflow}" style="#{budgetMB.householdNetColor}" />
				
			    </h:panelGrid>
			    </p:panel>
			    <p:commandButton id="addBudget" value="Next" action="#{budgetMB.addBudget}" ajax="false"/>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
