<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:form id="form">
				<h3>Diary</h3>
				
				<h:panelGrid columns="2" cellpadding="5" class="ui-grid">
        <h:outputLabel for="nrMonths" value="Number of diary entries: " />
        <p:spinner id="nrMonths" value="#{diaryMB.number1}" stepFactor="1" min="1" max="12"/>
    </h:panelGrid>
 
    <p:commandButton value="Submit" actionListener="#{diaryMB.setShowTrue}" update="table"/>
				
				
	<p:growl id="msgs" showDetail="true"/>
   
    <h:panelGroup id="table">
    <p:contextMenu for="diaries" widgetVar="cMenu">   
       <p:menuitem value="Edit Cell" icon="ui-icon-search" onclick="PF('cellDiaries').showCellEditor();return false;"/>  
       <p:menuitem value="Hide Menu" icon="ui-icon-close" onclick="PF('cMenu').hide()"/>  
   </p:contextMenu>
<p:dataTable id="diaries" rendered="#{diaryMB.show}" var="diary" value="#{diaryMB.diaries}" editable="true" editMode="cell" widgetVar="cellDiaries">
       <f:facet name="header">
           Diary entries (Cell Editing with DoubleClick and RightClick)
       </f:facet>
 
       <p:ajax event="cellEdit" listener="#{diaryMB.onCellEdit}" update=":form:msgs, :form:avgs" />
 
       <p:column headerText="Week Number">
               <h:outputText value="#{diary.monthNumber}" />
          </p:column>
          <p:column headerText="Business Cash Inflow">
                 <p:cellEditor>
               <f:facet name="output"><h:outputText value="#{diary.businessIn}" /></f:facet>
               <f:facet name="input"><p:inputText value="#{diary.businessIn}" style="width:96%"/></f:facet>
           </p:cellEditor>
       	  </p:column>
       	  
      <p:column headerText="Business Cash Outflow">
           <p:cellEditor>
               <f:facet name="output"><h:outputText value="#{diary.businessOut}" /></f:facet>
               <f:facet name="input"><p:inputText value="#{diary.businessOut}" style="width:96%"/></f:facet>
           </p:cellEditor>
       	  </p:column>
       	  
      <p:column headerText="Household Cash Inflow">
           <p:cellEditor>
               <f:facet name="output"><h:outputText value="#{diary.householdIn}" /></f:facet>
               <f:facet name="input"><p:inputText value="#{diary.householdIn}" style="width:96%"/></f:facet>
           </p:cellEditor>
       	  </p:column>
       	
      <p:column headerText="Household Cash Outflow">
           <p:cellEditor>
               <f:facet name="output"><h:outputText value="#{diary.householdOut}" /></f:facet>
               <f:facet name="input"><p:inputText value="#{diary.householdOut}" style="width:96%"/></f:facet>
           </p:cellEditor>
       	  </p:column>
       	  <f:facet name="footer">
       	    <p:commandButton id="diaryAvgs" value="Show Average Values" action="#{diaryMB.showAvgs}" update="average" ajax="false"/>
            <p:commandButton id="addDiary" value="Next" action="#{diaryMB.addDiary}" ajax="false"/>
        </f:facet>    
  </p:dataTable>
  </h:panelGroup>
  <br/>
  <h:panelGroup id="average">
  <p:dataTable id="avgs" rendered="#{diaryMB.showAvg}" var="avg" value="#{diaryMB.avgs}">
    <f:facet name="header">
           Average Diary Cash Flows
       </f:facet>
    <p:column headerText="Average Business Cash In Flow">
        <h:outputText value="#{avg.avgBusIn}" />
    </p:column>
 
    <p:column headerText="Average Business Out">
        <h:outputText value="#{avg.avgBusOut}" />
    </p:column>
 
    <p:column headerText="Average Household In">
        <h:outputText value="#{avg.avgHouseIn}" />
    </p:column>
 
    <p:column headerText="Average Household Out">
        <h:outputText value="#{avg.avgHouseOut}" />
    </p:column>
</p:dataTable>
</h:panelGroup>
  
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>