<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">	
	 	<ui:define name="content">		
		    <h2>Cashflow list</h2>
			<h:form>
		        <p:dataTable id="cashflows" var="cashflow" value="#{loanListMB.cashflows}" style="width:100%" filteredValue="#{loanListMB.filteredCashflows}" widgetVar="cashflowTable" paginator="true" rows="20">
		            <f:facet name="header">
        				Loans
        				<p:commandButton id="toggler" type="button" style="float:right" icon="ui-icon-calculator" />
        				<p:columnToggler datasource="cashflows" trigger="toggler" />
    				</f:facet>
		            <p:column filterBy="#{cashflow.id}" headerText="ID" filterMatchMode="contains">
		                <h:outputText value="#{cashflow.id}" />
		            </p:column>
		            <p:column filterBy="#{cashflow.applicant.name}" headerText="Client Name" filterMatchMode="contains">
		                <h:outputText value="#{cashflow.applicant.name}" />
		            </p:column>
		             <p:column filterBy="#{cashflow.applicant.loanOfficer.userFullName}" headerText="Loan Officer" filterMatchMode="contains">
		                <h:outputText value="#{cashflow.applicant.loanOfficer.userFullName}" />
		            </p:column>
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Loan amount" />
		                </f:facet>
		                <h:outputText value="#{cashflow.loanAmount}" />
		            </p:column>
		             <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Weekly Repayment" />
		                </f:facet>
		                <h:outputText value="#{cashflow.weeklyRepayment}" />
		            </p:column>
		             <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Weeks to pay" />
		                </f:facet>
		                <h:outputText value="#{cashflow.weeksToPay}" />
		            </p:column>
		            <!--  <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Analysis/Recomendation" />
		                </f:facet>
		                <h:outputText value="#{cashflow.summary}" />
		            </p:column> -->
		            <p:column filterBy="#{cashflow.accepted}" headerText="Loan Decision" filterMatchMode="equals">
            			<f:facet name="filter">
                			<p:selectOneMenu onchange="PF('cashflowTable').filter()">
                    			<f:converter converterId="javax.faces.Boolean" />
                    			<f:selectItem itemLabel="All" itemValue="" />
                    			<f:selectItem itemLabel="Accepted" itemValue="true" />
                    			<f:selectItem itemLabel="Rejected" itemValue="false" />
                			</p:selectOneMenu>
            			</f:facet>
            			<h:outputText value="#{cashflow.accepted ? 'Accepted': 'Rejected'}" />
        			</p:column>
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="View Loan" />
		                </f:facet>
		                	<h:commandLink action="view">
		                		<h:graphicImage height="20" library="imgs" name="view_icon.png" />
		                		<f:param name="id" value="#{cashflow.id}" />
		                	</h:commandLink>
		            </p:column>
		        </p:dataTable>
		    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html> 