<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:form>
			
				<h3>Cashflow Analysis</h3>
				<p:panelGrid style="margin-top:20px">
					<f:facet name="header">
						<p:row>
							<p:column colspan="5">Label</p:column>
							<p:column colspan="2">Output</p:column>
							<p:column colspan="2">Risk</p:column>
						</p:row>
						
					</f:facet>
						<p:row>
							<p:column colspan="1">1</p:column>
							<p:column colspan="4">Net business income as % sales revenue(Finincial Diary)</p:column>
							<p:column colspan="2">#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiary}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='High'}">#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='Medium'}">#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='Low'}">#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">2</p:column>
							<p:column colspan="4">Net business income as % sales revenue(Budget)</p:column>
							<p:column colspan="2">#{outputMB.netBusinessIncomeAsSalesRevenueBudget}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk=='High'}">#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk=='Medium'}">#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk=='Low'}">#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.netBusinessIncomeAsSalesRevenueBudgetRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">3</p:column>
							<p:column colspan="4">Difference between present and expected income</p:column>
							<p:column colspan="2">#{outputMB.differenceBetweenPresentAndExpectedIncomeBusiness}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='High'}">#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='Medium'}">#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='Low'}">#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="9"></p:column>
						</p:row>
							
						
						<p:row>
							<p:column colspan="1">4</p:column>
							<p:column colspan="4">Loan repayment as % of Household Income(Financial Diary)</p:column>
							<p:column colspan="2">#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiary}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='High'}">#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='Medium'}">#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='Low'}">#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">5</p:column>
							<p:column colspan="4">Loan repayment as % of Household Income(Budget)</p:column>
							<p:column colspan="2">#{outputMB.loanRepaymentOfHouseholdIncomeBudget}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk=='High'}">#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk=='Medium'}">#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk=='Low'}">#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.loanRepaymentOfHouseholdIncomeBudgetRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">6</p:column>
							<p:column colspan="4">Difference between present and expected income</p:column>
							<p:column colspan="2">#{outputMB.differenceBetweenPresentAndExpectedHousehold}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk=='High'}">#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk=='Medium'}">#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk=='Low'}">#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.differenceBetweenPresentAndExpectedHouseholdRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						
						<p:row>
							<p:column colspan="9"></p:column>
						</p:row>
							
						<p:row>
							<p:column colspan="1">7</p:column>
							<p:column colspan="4">Household expenses as % of household</p:column>
							<p:column colspan="2">#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiary}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='High'}">#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='Medium'}">#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='Low'}">#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">8</p:column>
							<p:column colspan="4">Household expenses as % of household</p:column>
							<p:column colspan="2">#{outputMB.householdExpensesOfHouseholdIncomeBudget}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk=='High'}">#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk=='Medium'}">#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk=='Low'}">#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" rendered="#{outputMB.householdExpensesOfHouseholdIncomeBudgetRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
				</p:panelGrid>
				<br/>
				<h4>Summary:</h4>
    			<p:inputTextarea rows="3" cols="60" value="#{outputMB.summary}"/>
    			<br/>
    			<p:commandButton id="reject" value="Reject" action="#{outputMB.rejectLoan()}" ajax="false"></p:commandButton>
    			<p:commandButton id="finish" value="Accept" action="#{outputMB.finish()}" ajax="false"></p:commandButton>

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
