<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="content">
			<h:form>				 
				<p:panelGrid style="margin-top:20px; width:75%">
				    <f:facet name="header">
				        <p:row>
				            <p:column colspan="7">Review</p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="2">Business (Diary)</p:column>
				            <p:column colspan="1">Loan amount</p:column>
				            <p:column colspan="2">Business (Budget)</p:column>
				        </p:row>
				 
				    </f:facet>
				 	
				 	<p:row>
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.pastBusinessIn}" /></p:column>
					 	
					 	<p:column style="font-size:200%; text-align:center;" rowspan="3"><h:outputText value="#{reviewMB.loanAmount}" /></p:column>
					 	
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.budgetBusinessIn}" /></p:column>
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.pastBusinessOut}" /></p:column>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.budgetBusinessOut}" /></p:column>
					 
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.pastBusinessNet}" /></p:column>
					 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.budgetBusinessNet}" /></p:column>
					 
				 	</p:row>
				   
				   <p:row>
				        <p:column style="text-align:center;" colspan="2" styleClass="ui-widget-header">
				            <h:outputText value="Household (Diary)" />
				        </p:column>
				        <p:column colspan="1" styleClass="ui-widget-header">
				            <h:outputText value="" />
				        </p:column>
				        <p:column style="text-align:center;" colspan="2" styleClass="ui-widget-header">
				            <h:outputText value="Household (Budget)" />
				        </p:column>
			   		</p:row>
			   		
			   		<p:row>
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.pastHouseholdIn}" /></p:column>
					 	
					 	<p:column style="text-align:center;" rowspan="3"><p:commandButton value="Guidelines" type="button" onclick="PF('dlg1').show();" /></p:column>
					 	
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.budgetHouseholdIn}" /></p:column>
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.pastHouseholdOut}" /></p:column>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.budgetHouseholdOut}" /></p:column>
					 
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.pastHouseholdNet}" /></p:column>
					 						 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{reviewMB.budgetHouseholdNet}" /></p:column>
					 
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column colspan="5"><h:outputText value="Is the cashflow realistic? " />
					 		<p:commandButton action="next" id="yes" value="Yes" ajax="false"/>
					 		<p:commandButton onclick="PF('dlg2').show();" id="no" value="No"/>
					 	</p:column>
					 
				 	</p:row>
			    
				</p:panelGrid>
				<p:dialog header="Guidelines" widgetVar="dlg1" minHeight="40" width="40%">
				    <p:dataTable id="guidelines" var="guideline" value="#{reviewMB.guidelines}" >
		            <p:column width="50%">
		                <f:facet name="header">
		                    <h:outputText value="Business Type" />
		                </f:facet>
		                <h:outputText value="#{guideline.businessType}" />
		            </p:column>
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Min" />
		                </f:facet>
		                <h:outputText value="#{guideline.minNetCashflow}" />
		            </p:column>
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Max" />
		                </f:facet>
		                <h:outputText value="#{guideline.maxNetCashflow}" />
		            </p:column>
		        	</p:dataTable>
				</p:dialog>
				
				<p:dialog header="What do you want to do?" widgetVar="dlg2" minHeight="40">
				    <p:commandButton action="addcashflow" id="startover" value="Start over" ajax="false"/>
				    <p:commandButton action="home" id="home" value="End cashflow" ajax="false"/>
				</p:dialog>
				
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
