<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="/templates/template.xhtml">	
	 	<ui:define name="content">		
		    <h2>View Loan</h2>
			<h:form>
				<h:outputText value="Cashflow id: #{param['id']}" />
				<br/>
			    <h:outputText value="Client name: #{viewLoanMB.cashflow.applicant.name}" />
			    <br/>
			    <br/>
			    <p:dataTable var="diary" value="#{viewLoanMB.cashflow.diaries}">
			    	<f:facet name="header">
        				Diary Entries
    				</f:facet>
			    
    				<p:column headerText="Week Number">
        				<h:outputText value="#{diary.monthNumber}" />
    				</p:column>
 
   					<p:column headerText="Business Cash Inflow">
        				<h:outputText value="#{diary.businessIn}" />
    				</p:column>
    				
    				<p:column headerText="Business Cash Outflow">
        				<h:outputText value="#{diary.businessOut}" />
    				</p:column>
    				
    				<p:column headerText="Household Cash Inflow">
        				<h:outputText value="#{diary.householdIn}" />
    				</p:column>
    				
    				<p:column headerText="Business Cash Outflow">
        				<h:outputText value="#{diary.householdOut}" />
    				</p:column>
				</p:dataTable>
				
				<p:dataTable id="avgs" var="avg" value="#{viewLoanMB.avgs}">
    <f:facet name="header">
           Average Diary Cash Flows
       </f:facet>
    <p:column headerText="Average Business Cash In Flow">
        <h:outputText value="#{avg.avgBusIn}" />
    </p:column>
 
    <p:column headerText="Average Business Out">
        <h:outputText value="#{avg.avgBusOut}" />
    </p:column>
 
    <p:column headerText="Average Household In">
        <h:outputText value="#{avg.avgHouseIn}" />
    </p:column>
 
    <p:column headerText="Average Household Out">
        <h:outputText value="#{avg.avgHouseOut}" />
    </p:column>
</p:dataTable>
				
				<p:panelGrid style="margin-top:20px; width:75%">
				    <f:facet name="header">
				        <p:row>
				            <p:column colspan="7">Review</p:column>
				        </p:row>
				        <p:row>
				            <p:column colspan="2">Business (Diary)</p:column>
				            <p:column colspan="1">Loan amount</p:column>
				            <p:column colspan="2">Business (Budget)</p:column>
				        </p:row>
				 
				    </f:facet>
				 	
				 	<p:row>
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.diaryBusinessInAverage}" /></p:column>
					 	
					 	<p:column style="font-size:200%; text-align:center;" rowspan="7"><h:outputText value="#{viewLoanMB.cashflow.loanAmount}" /></p:column>
					 	
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.expectedBusinessInAverage}" /></p:column>
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.diaryBusinessOutAverage}" /></p:column>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.expectedBusinessOutAverage}" /></p:column>
					 
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.diaryBusinessNetAverage}" /></p:column>
					 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.expectedBusinessNetAverage}" /></p:column>
					 
				 	</p:row>
				   
				   <p:row>
				        <p:column style="text-align:center;" colspan="2" styleClass="ui-widget-header">
				            <h:outputText value="Household (Diary)" />
				        </p:column>

				        <p:column style="text-align:center;" colspan="2" styleClass="ui-widget-header">
				            <h:outputText value="Household (Budget)" />
				        </p:column>
			   		</p:row>
			   		
			   		<p:row>
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.diaryHouseholdInAverage}" /></p:column>
					 	
					 	<p:column><h:outputText value="Inflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.expectedHouseholdInAverage}" /></p:column>
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.diaryHouseholdOutAverage}" /></p:column>
						
					 	<p:column><h:outputText value="Outflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.expectedHouseholdOutAverage}" /></p:column>
					 
				 	</p:row>
				 	
				 	<p:row>
					 	
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.diaryHouseholdNetAverage}" /></p:column>
			 			
					 	<p:column><h:outputText value="Netflow: " /></p:column>
					 	<p:column><h:outputText value="#{viewLoanMB.cashflow.expectedHouseholdNetAverage}" /></p:column>
					 
				 	</p:row>
			    
				</p:panelGrid>
				
				<p:panelGrid style="margin-top:20px">
					<f:facet name="header">
						<p:row>
							<p:column colspan="9">Summary</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">Label</p:column>
							<p:column colspan="2">Output</p:column>
							<p:column colspan="2">Risk</p:column>
						</p:row>
						
					</f:facet>
						<p:row>
							<p:column colspan="1">1</p:column>
							<p:column colspan="4">Net business income as % sales revenue(Financial Diary)</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiary}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='High'}">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='Medium'}">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='Low'}">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueFinancialDiaryRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">2</p:column>
							<p:column colspan="4">Net business income as % sales revenue(Budget)</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudget}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk=='High'}">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk=='Medium'}">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk=='Low'}">#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.netBusinessIncomeAsSalesRevenueBudgetRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">3</p:column>
							<p:column colspan="4">Difference between present and expected income</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusiness}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='High'}">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='Medium'}">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='Low'}">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedIncomeBusinessRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="9"></p:column>
						</p:row>
							
						
						<p:row>
							<p:column colspan="1">4</p:column>
							<p:column colspan="4">Loan repayment as % of Household Income(Financial Diary)</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiary}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='High'}">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='Medium'}">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='Low'}">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeFiancialDiaryRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">5</p:column>
							<p:column colspan="4">Loan repayment as % of Household Income(Budget)</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudget}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk=='High'}">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk=='Medium'}">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk=='Low'}">#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.loanRepaymentOfHouseholdIncomeBudgetRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">6</p:column>
							<p:column colspan="4">Difference between present and expected income</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHousehold}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk=='High'}">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk=='Medium'}">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk=='Low'}">#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.differenceBetweenPresentAndExpectedHouseholdRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						
						<p:row>
							<p:column colspan="9"></p:column>
						</p:row>
							
						<p:row>
							<p:column colspan="1">7</p:column>
							<p:column colspan="4">Household expenses as % of household</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiary}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='High'}">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='Medium'}">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='Low'}">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeFinancialDiaryRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">8</p:column>
							<p:column colspan="4">Household expenses as % of household</p:column>
							<p:column colspan="2">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudget}%</p:column>
							<p:column colspan="2" style="background-color:red" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk=='High'}">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:yellow" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk=='Medium'}">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" style="background-color:green" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk=='Low'}">#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk}</p:column>
							<p:column colspan="2" rendered="#{viewLoanMB.cashflow.householdExpensesOfHouseholdIncomeBudgetRisk=='NA'}"><h:graphicImage library="imgs" name="na_icon.png" /></p:column>
						</p:row>
				</p:panelGrid>
				<br/>
				<h4>Summary:</h4>
				<h:outputText value="#{viewLoanMB.cashflow.summary}" />
    			<br/>
    			

		    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html> 