<?xml version="1.0" encoding="ISO-8859-1" ?>

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://java.sun.com/jsf/html">      
      
<body>

<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h:link outcome="/index.xhtml" styleClass="navbar-brand"><h:graphicImage library="imgs" name="spbd-xxsmall.png" /></h:link><h:link outcome="/index.xhtml" styleClass="navbar-brand"> <h:graphicImage library="imgs" name="logo-secondary.png" /></h:link>
            </div>
            <!-- /.navbar-header -->

 				<f:event listener="#{userMB.preRender}" type="preRenderView" />
 		

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                
                    Hello <h:outputText value="#{userMB.FName}" style="font-"/>, you're logged in as : <h:outputText value="#{role}"/>  
					
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    
                    <c:set var="username" value="#{name}" />
                    
                    <ul class="dropdown-menu dropdown-user">
                                 
                   <h:form>
                         
                         <li> 
                         
 						<h:commandLink action="#{userMB.userDetailsByUsername(username)}" style="color : black;">
 						    <i class="fa fa-user fa-fw"></i>User Profile</h:commandLink> 						     
 						           
                        </li>
                        
                        <li>
                        <h:commandLink action="#{userUpdateMB.userUpdateByUsername(username)}" style="color : black;">
 						    <i class="fa fa-gear fa-fw"></i>Settings</h:commandLink> 	
                        
                        </li>  
                                    
                   </h:form> 
                   
                        <li class="divider"></li>
                        <li><a href="#{request.contextPath}/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

</body>
</html>
