<?xml version="1.0" encoding="ISO-8859-1" ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<body>

<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    	<li class="sidebar-search"/>
                        <li>
                        	<h:link styleClass="#{view.viewId == '/index.xhtml' ? 'active' : ''}" outcome="/index.xhtml"><i class="fa fa-fw fa-dashboard"></i> Home</h:link>
                        </li>
                    	<li>
                    		<h:link styleClass="#{view.viewId == '/applicants.xhtml' ? 'active' : ''}" outcome="/applicants.xhtml"><i class="fa fa-fw fa-table"></i> Clients</h:link>                     	   
                    	</li>
                    	<li>
                    		<h:link styleClass="#{view.viewId == '/loans/loanlist.xhtml' ? 'active' : ''}" outcome="/loans/loanlist.xhtml"><i class="fa fa-fw fa-table"></i> Cashflows</h:link>                     	   
                    	</li>
                        <li class="#{view.viewId == '/addapplicant.xhtml' or view.viewId == '/loans/addcashflow.xhtml' ? 'active' : '' }">
                        
                        
                            <a href="#"><i class="fa fa-fw fa-edit"></i> Management<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
		                   		<li>
			                        <h:link styleClass="#{view.viewId == '/addapplicant.xhtml' ? 'active' : ''}" outcome="/addapplicant.xhtml"> Add client</h:link>
		                   		</li>
		                   		<li>
			                        <h:link styleClass="#{view.viewId == '/loans/addcashflow.xhtml' ? 'active' : ''}" outcome="/loans/addcashflow.xhtml"> Add cashflow</h:link>
		                   		</li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                        	<h:link styleClass="#{view.viewId == '/about.xhtml' ? 'active' : ''}" outcome="/about.xhtml"><i class="fa fa-fw fa-home"></i> About</h:link>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

</body>
</html>
