
          
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">



<c:choose>
  <c:when test="#{role == 'Admin'}">
	<ui:include src="menu_admin.xhtml" />
  </c:when>
  <c:when test="#{role == 'User'}">
	<ui:include src="menu_user.xhtml" />
  </c:when>
  <c:otherwise>
    <!-- DO SOMETHING -->
  </c:otherwise>
</c:choose>

</html>