
          
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
  <title><ui:insert name="title">SPBD</ui:insert></title>
  	<!-- Bootstrap Core CSS -->
  	<h:outputStylesheet library="css" name="bootstrap.min.css"/>
	
	<!-- MetisMenu CSS -->
	<h:outputStylesheet library="css" name="plugins/metisMenu/metisMenu.min.css"/>
	
    <!-- Custom CSS -->
	<h:outputStylesheet library="css" name="sb-admin-2.css"/>

    <!-- Custom Fonts -->
    <h:outputStylesheet library="font-awesome-4.1.0" name="css/font-awesome.min.css"/>
</h:head>

<h:body>
<ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/>

	<div id="wrapper">
	 	<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

		<ui:insert name="header">
    		<ui:include src="header.xhtml"/>
    	</ui:insert>

		<ui:insert name="menu">
		   	<ui:include src="menu.xhtml"/>
		</ui:insert>
		</nav>

		<div id="page-wrapper">
			<div class="row">        
				<div class="col-lg-12">    
					<ui:insert name="content">
		 			</ui:insert>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery Version 1.11.0 -->
	<!-- Should not be imported. Crashes with Primefaces -->
	<!-- <h:outputScript library="js" name="jquery-1.11.0.js" /> -->
	
	<h:outputScript library="primefaces" name="jquery/jquery.js"/>

    <!-- Bootstrap Core JavaScript -->
    <h:outputScript library="js" name="bootstrap.min.js" />
    
    <!-- Metis Menu Plugin JavaScript -->
    <h:outputScript library="js" name="plugins/metisMenu/metisMenu.min.js" />
    
    <!-- Custom Theme JavaScript -->
    <h:outputScript library="js" name="sb-admin-2.js" />

</h:body>

</html>
