<html xmlns="http://www.w3.org/1999/xhtml"   
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:ui="http://java.sun.com/jsf/facelets">
   <h:body>
      <ui:composition template="templates/template.xhtml">	
         <ui:define name="content">
         <div class="row">
				<div class="col-lg-12">
			 		<h1 class="page-header">	
         				<b>About</b>
       				</h1>
       				<h3>SPBD</h3>
       				
       				<p>SPBD Cashflow analysis app is a system designed and implemented by a group of students from the University of Sydney.
					This app is created to help SPBD with their business which is helping impoverished people to develop their lives by giving them small loans to create their business.</p>

					<p>This app helps both people who are in charge of assessing the loan applicants and the system managers to keep track, do the calculations for the loan allocation, and basically it helps them to automatise the process of giving loans.</p>
					
					<p>In addition to the web app which is provided to serve both managers and loan officers, there is another application to be run on android phones.</p>
					
					<p>The application allows the loan officers to have the calculations done by just entering the data as well as letting them to store the data on their phones, and upload it to the server whenever they can access to an internet connection.</p>
					
       				<h3>Android App</h3>
					<h:graphicImage library="imgs" name="qr.png" />
					<br></br>
       				<a href="https://drive.google.com/file/d/0BzE3XfWxJZSbczdZOTNpRmZHVVU/view?usp=sharing">Click to download the Android app</a>
       				<br/><br/>
        		</div>
         	</div>
         </ui:define>
      </ui:composition>
   </h:body>
</html>	
