<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="templates/template.xhtml">	
	 	<ui:define name="content">	
		 	<h:form>	
				<h3>Add client</h3>
			    <h:panelGrid columns="3" style="margin-bottom:10px" cellpadding="5">
			        <p:outputLabel id="selectLoanOfficerMenu" value="Loan officer:" />
			        <p:selectOneMenu required="true" id="loanOfficer" style="width:250px" value="#{applicantMB.loanOfficer}" converter="#{userConverter}">
			            <f:selectItems value="#{userMB.userListGivenAccess}"/>
			        </p:selectOneMenu> 
			        <p:message id="officerMsg" for="selectLoanOfficerMenu" display="icon"/>
				 <h:outputLabel for="name" value="Name : " />
				 <p:inputText id="name" requiredMessage="Please fill in the field" validatorMessage="Please enter a valid name" required="true" value="#{applicantMB.name}" style="width:250px">
		                    <f:validateLength minimum="3" />
		                    <p:ajax event="blur" update="nameMsg" />
		        </p:inputText>
		        <p:message id="nameMsg" for="name"/>	
		        	
		        <p:outputLabel for="dateOfBirth" value="Date of birth: "/>
        		<p:calendar required="true" requiredMessage="Please select a date" id="dateOfBirth" yearRange="c-100:c" navigator="true" value="#{applicantMB.dob}"/>
				<p:message id="dateOfBirthMsg" for="dateOfBirth"/>		
				
				<!-- <p:separator/> -->
			    <p:commandButton id="addApplicant" value="Add" action="#{applicantMB.addApplicant}" ajax="false"/>
			    </h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html> 