<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
      
      <head>
           <link rel="stylesheet" type="text/css" href="css/adduser.css" />         
           
      </head>
      
<h:body styleClass="body">

<f:facet name="last">
	<h:outputStylesheet library="mytheme" name="css/style.css" />
  </f:facet>

	<ui:composition template="templates/template.xhtml">	
	 	<ui:define name="content">
    	
    	<c:choose>
		  <c:when test="#{role == 'Admin'}">
			
<center>
		<!-- New Line -->
		<h:outputText value="&lt;br/&gt;" escape="false" />
        <h:outputText value="New User Registration" style="color : blue; font-size: 20;"></h:outputText>

    	</center>
 
		  <h:form id="myAddForm">
		    
			<br/><br/>
			
			<p:outputLabel value="please complete the fields below to add a new user for this web portal. " 
		                style="font-size: 14; color: red; font-style:italic;"/>
			
			<br/><br/>
			
		        <table>
		            <tr>
		                
		                <td><p:outputLabel for="firstName" value="First name : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:inputText id="firstName" value="#{userAddMB.firstName}"
		                    required="true" requiredMessage="Please Enter First Name!"
		                    style="height:22px;width: 275px; font-size: 13px; " >

		                </p:inputText>
		                    
		                    <p:watermark for="firstName" value="Please Enter The First Name *" />    
		                    <p:message for="firstName" />
		                    
		                </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		          
		            <tr>

		                <td><p:outputLabel for="lastName" value="Last name : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:inputText id="lastName" value="#{userAddMB.lastName}"
		                    required="true" requiredMessage="Please Enter Last Name!"
		                    style="height:22px;width: 275px; font-size: 13px; ">
		                    
		                </p:inputText>
		                
		                	<p:watermark for="lastName" value="Please Enter The Last Name *" /> 
		                    <p:message for="lastName" />
		                    
		                </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		            <tr>
		                
		                <td><p:outputLabel for="username" value="Username : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:inputText id="username" value="#{userAddMB.username}"
		                    required="true" requiredMessage="Please Enter User Name!"
		                    validator="#{userAddMB.ValidateUsernameDuplicate}"
		                    style="height:22px;width: 275px; font-size: 13px; ">

		                </p:inputText>
		                
		                <p:watermark for="username" value="Please Enter The User Name *" /> 
		                <p:message for="username" />
		             
		                </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		            <tr>
		                
		                <td><p:outputLabel for="password" value="Password : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:password id="password" value="#{userAddMB.password}" 
		                required="true" requiredMessage="Please Enter Password!"
		                validator="#{userAddMB.PasswordValidator}" feedback="true"
		                style="height:22px;width: 275px; font-size: 13px; ">
		                
		                 <f:attribute name="confirm" value="#{confirm}" />
		           
		                </p:password>
		                
		                 <p:watermark for="password" value="Please Enter User Password *" /> 
		                 <p:message for="password" />

		                </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		         <tr>
		                
		            <td><p:outputLabel for="confirm" value="Confirm password : " 
		            style="font-size: 14;"/></td>
		            
			        <td><p:password id="confirm" binding="#{confirm}" required="true" 
			        requiredMessage="Please Enter Password Confirmation!" feedback="true"
			        style="height:22px;width: 275px; font-size: 13px; ">
			        
			        </p:password>
			        
			        <p:watermark for="confirm" value="Please Confirm The User Password *" />
			       <p:message for="confirm" />
			        	            
	                </td>
	            </tr>
	            
	            <tr><td>&#160;</td></tr>
	            
		              <tr>
		                
		              <td><p:outputLabel for="User_Role" value="Role : " 
		              style="font-size: 14;"/></td>
		                
		             <td><h:selectOneMenu id="User_Role" value="#{userAddMB.role_id}" required="true" 
		             style="height:22px;width: 275px; font-size: 13px; "
                  		requiredMessage="Please Choose User Role!">
			   			<f:selectItem itemLabel="Please Choose Role" />
			   			<f:selectItem itemValue="1" itemLabel="Admin" />
			   			<f:selectItem itemValue="2" itemLabel="User" /> 
			   			              					   	   							
						</h:selectOneMenu>
						
						<p:message for="User_Role" />	

		              </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		           <tr>
		                
		              <td><p:outputLabel for="User_Status" value="Status : " 
		              style="font-size: 14;"/></td>
		                
		             <td><h:selectOneMenu id="User_Status" value="#{userAddMB.status}" required="true"
                  		requiredMessage="Please Choose User Status!" 
                  		style="height:22px;width: 275px; font-size: 13px; ">
			   			<f:selectItem itemLabel="Please Choose Status" />
			   			<f:selectItem itemValue="ACTIVE" itemLabel="ACTIVE" />
			   			<f:selectItem itemValue="INACTIVE" itemLabel="INACTIVE" />               					   	   							
						</h:selectOneMenu>	
						
						<p:message for="User_Status" />

		              </td>
		            </tr>
		            		 
		              <tr><td>&#160;</td></tr>
		            		            
		             <tr>
		                            
		             <td>
		             
		             <p:outputLabel for="dateOfBith" value="Date of Birth : "  
		             style="font-size: 14;"/>
		             
		             </td>

            		 <td>
            		             		
            		 <p:calendar id="dateOfBith" value="#{userAddMB.dateOfBith}" required="true"
                	  requiredMessage="Please Enter Date Of Birth!"
                	  style="height:22px;width: 275px; font-size: 13px; "
                	  navigator="true" display="inline" yearRange="c-100:c"
                	  pattern="dd-MMM-yyyy"/>
                	 
                	 <p:watermark for="dateOfBith" value="Date Of Birth" />
					 <p:message for="dateOfBith" />
                	
		              </td>
		            </tr>	
		            
		            <tr><td>&#160;</td></tr>
		            
		           	<tr>
		           			                
		                <td><p:outputLabel for="address" value="Address : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:inputText id="address" value="#{userAddMB.address}" required="true"
		                requiredMessage="Please Enter User Address!"
		                style="height:22px;width: 275px; font-size: 13px; ">
		                    <f:validateLength maximum="75" />

		                </p:inputText>
		                
		                 <p:watermark for="address" value="Please Enter The Address *" />
		                <p:message for="address" />

		                </td>
		            </tr>       
		            
		            <tr><td>&#160;</td></tr>
		            
		             <tr>
		                
		              <td><p:outputLabel for="countrybox" value="Country : " 
		              style="font-size: 14;"/></td>
		                
		             <td><h:selectOneMenu id="countrybox" value="#{userAddMB.country}" required="true"
                  		requiredMessage="Please Choose User Country!" 
                  		style="height:22px;width: 275px; font-size: 13px; ">
			   			<f:selectItem itemLabel="Please Choose Country" />
			   			<f:selectItem itemValue="Australia" itemLabel="Australia" />
			   			<f:selectItem itemValue="Fiji" itemLabel="Fiji" />
			   			<f:selectItem itemValue="Samoa" itemLabel="Samoa" />
			   			<f:selectItem itemValue="Solomon Islands" itemLabel="Solomon Islands" />
			   			<f:selectItem itemValue="Tonga" itemLabel="Tonga" />
               					   	   							
						</h:selectOneMenu>
						
						<p:message for="countrybox" />	

		              </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            		            
		           <tr>
		                
		           		<td><p:outputLabel for="genderbox" value="Gender : " 
		           		style="font-size: 14;"/></td>
		                 
			          	<td><h:selectOneRadio id="genderbox" value="#{userAddMB.gender}" required="true"
			          	requiredMessage="Please Choose User Gender!" style="font-size: 13px; ">
			          
						   	<f:selectItem itemValue="Male" itemLabel="Male&#160;&#160;&#160;&#160;&#160;&#160; "/>
						   	<f:selectItem itemValue="Female" itemLabel="Female" />
						   	
					   </h:selectOneRadio>
					   
					   <p:message for="genderbox" />	
		          	   
		          	    </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		           <tr>
		                
	           	<td><p:outputLabel for="email" value="Email Address : " 
	           	style="font-size: 14;"/></td>

           			<td><h:inputText id="email" value="#{userAddMB.emailAddress}" 
           			required="true"	requiredMessage="Please Enter Email Address!"
           			size="40" validator="#{userAddMB.ValidateEmailAddress}"
           			style="height:22px;width: 275px; font-size: 13px; ">
   
				   </h:inputText>
				          			
           			<p:watermark for="email" value="Please Enter Email Address *" />           			
                	<p:message for="email" />
                	
	             	</td>
	            </tr>
	            	  
	            	  <tr><td>&#160;</td></tr>
	            	            
	               <tr>
		                
	           	<td><p:outputLabel for="mobileNnumber" value="Mobile Nnumber : " 
	           	style="font-size: 14;"/></td>

           			<td><h:inputText id="mobileNnumber" value="#{userAddMB.mobileNnumber}" 
           			required="true"	requiredMessage="Please Enter Mobile Nnumber!"
           			validator="#{userAddMB.MobileNumberValidator}"
           			style="height:22px;width: 275px; font-size: 13px; ">
           			          			
           			</h:inputText>
           			
           			<p:watermark for="mobileNnumber" value="Please Enter Mobile Nnumber *"
           			style="font-size: 14;" />
					<p:message for="mobileNnumber" />
           			
                	
	             	</td>
	            </tr>
		          	      
		          	<tr><td>&#160;</td></tr>
		          	        
		            <tr>	
		            	<td>
	            		<!-- New Line -->
	            		<h:outputText value="&lt;br/&gt;" escape="false" />	   
						<p:commandButton value="Reset" action="#{userMB.reset}" type="reset" ajax="false"
						style="height:30px;width: 100px; font-size: 15px; "/>
						</td>

		                <td>
	            		<!-- New Line -->
	            		<h:outputText value="&lt;br/&gt;" escape="false" />	                
		                &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
		                <p:commandButton id="addUser" value="Add User" action="#{userAddMB.addUser}" ajax="false"
		                style="height:30px;width: 100px; font-size: 15px; "/>
						</td>
		            
		            </tr>
		        </table>
		    </h:form>


		  </c:when>
		  
		  <c:when test="#{role == 'User'}">
			
			<br></br>
			<p:outputLabel value="You are not Authorized to add a new user !" 
	           	style="font-size: 14; color: red; font-style:italic"/>

		  </c:when>
		  
		  <c:otherwise>
		    <!-- DO SOMETHING -->
		  </c:otherwise>
		</c:choose>   	
    	
    	
		</ui:define>
	</ui:composition>
</h:body>
</html>
