<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<ui:composition template="templates/template.xhtml">
		<ui:define name="content">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Dashboard</h1>
					<h:form id="mainform">
						<p:tabView>
							<p:tab title="Total loans">
								<h:panelGrid columns="2" cellpadding="10">
									<p:chart type="metergauge" model="#{reportMB.meterGaugeModel2}"
										style="width:600px;height:375px" />
								</h:panelGrid>
							</p:tab>
							<p:tab title="Active loan officers">
								<h:panelGrid columns="2" cellpadding="10">
									<p:chart type="line" model="#{reportMB.multiAxisModel}"
										style="height:500px;width:900px;" />
								</h:panelGrid>
							</p:tab>
							<p:tab title="Officerwise cashflows">
								<h:panelGrid columns="2" columnClasses="left,right"
									style="width:100%">
									<p:outputLabel id="selectLoanOfficerMenu" value="Loan officer:" />
									<p:selectOneMenu id="user" style="width:250px"
										value="#{reportMB.user}" converter="#{reportConverter}">
										<f:selectItems value="#{reportMB.userList}" />
									</p:selectOneMenu>
									<p:commandButton id="getCashflows" value="Show"
										actionListener="#{reportMB.showCashflowsByUser}"
										update="cashflows" />
								</h:panelGrid>
								<h:panelGrid columns="2" columnClasses="left,right"
									style="width:100%">
									<p:dataTable id="cashflows" var="cashflow"
										value="#{reportMB.cashflowByUser}">
										<p:column headerText="Client">
											<h:outputText value="#{cashflow.applicant}" />
										</p:column>
										<p:column headerText="Loan Amount">
											<h:outputText value="#{cashflow.loanAmount}" />
										</p:column>
										<p:column headerText="Weeks to pay">
											<h:outputText value="#{cashflow.weeksToPay}" />
										</p:column>
										<p:column headerText="Weekly repayment">
											<h:outputText value="#{cashflow.weeklyRepayment}" />
										</p:column>
										<p:column headerText="Date submitted">
											<h:outputText value="#{cashflow.dateSubmitted}">
  												<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
											</h:outputText>
										</p:column>
										<p:column headerText="Status">
											<h:outputText value="accepted" rendered="#{cashflow.accepted}" />
											<h:outputText value="rejected" rendered="#{not cashflow.accepted}" />
										</p:column>
										<p:column headerText="View cashflow" exportable="false">
											<h:commandLink action="view">
												<h:graphicImage height="20" library="imgs"
													name="view_icon.png" />
												<f:param name="id" value="#{cashflow.id}" />
											</h:commandLink>
										</p:column>
									</p:dataTable>
								</h:panelGrid>
								<h:commandLink id="excel0">
									<p:graphicImage library="imgs" name="excel.png" />
									<p:dataExporter type="xls" target="cashflows"
										fileName="cashflowsbyapplicant" />
								</h:commandLink>
								<h:commandLink id="pdf0">
									<p:graphicImage library="imgs" name="pdf.png" />
									<p:dataExporter type="pdf" target="cashflows"
										fileName="cashflowsbyapplicant"
										preProcessor="#{reportMB.preProcessPDF}" />
								</h:commandLink>
							</p:tab>

							<p:tab title="Officer wise reports">
								<h:panelGrid columns="2" cellpadding="10">
									<p:dataGrid var="officer" value="#{reportMB.officerInfoList}"
										columns="3" layout="grid" rows="12" paginator="true"
										id="officers"
										paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										rowsPerPageTemplate="6,12,16">

										<f:facet name="header">
										            Officers
										        </f:facet>
										<p:panel header="#{officer.name}" style="text-align:center">
											<h:panelGrid columns="1" style="width:100%">
												<h:outputLabel value="Total Loans : " />
												<h:outputText value="#{officer.totalLoans}" />

												<h:outputLabel value="Total amount of loans : " />
												<h:outputText value="#{officer.totalAmount}" />
											</h:panelGrid>
										</p:panel>
									</p:dataGrid>
									<p />
									<p:commandButton id="getOfficerInfo" value="Update information"
										actionListener="#{reportMB.showLoanInfo}" update="officers" />
								</h:panelGrid>
							</p:tab>

							<p:tab title="Clients' information">
								<p:dataTable id="tbl" var="appdata"
									value="#{reportMB.applicantDataList}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									paginator="true" rows="10" style="margin-bottom:20px">
									<p:column>
										<f:facet name="header">
											<h:outputText value="Client Name" />
										</f:facet>
										<h:outputText value="#{appdata.applicant.name}" />
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Date of birth" />
										</f:facet>
										<h:outputText value="#{appdata.applicant.dob}">
											<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
										</h:outputText>
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Loan Officer" />
										</f:facet>
										<h:outputText value="#{appdata.applicant.loanOfficer}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Number of cashflows" />
										</f:facet>
										<h:outputText value="#{appdata.loans}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Total Loans" />
										</f:facet>
										<h:outputText value="#{appdata.loanAmount}" />
									</p:column>
									<!-- number and amount of loans can be added later -->
								</p:dataTable>

								<h:commandLink id="excel" ajax="false">
									<p:graphicImage library="imgs" name="excel.png" />
									<p:dataExporter type="xls" target="tbl" fileName="clients" />
								</h:commandLink>

								<h:commandLink id="pdf">
									<p:graphicImage library="imgs" name="pdf.png" />
									<p:dataExporter type="pdf" target="tbl" fileName="clients"
										preProcessor="#{reportMB.preProcessPDF}" />
								</h:commandLink>
							</p:tab>
						</p:tabView>
						<p:growl id="msgs" showDetail="true" />
						<p:fieldset legend="  Loans by date" toggleable="true"
							toggleSpeed="500">
							<p:ajax event="toggle" listener="#{reportMB.handleToggle}"
								update="msgs" />
							<h:panelGrid columns="2" cellpadding="10">
								<p:chart id="pie1" type="pie" model="#{reportMB.pieModel1}"
									style="width:400px;height:300px" />
								<p />
								<p:outputLabel for="popup" value="Start date: " />
								<p:calendar id="popup" value="#{reportMB.startDateLoans}" />
								<p:outputLabel for="popup2" value="End date: " />
								<p:calendar id="popup2" value="#{reportMB.endDateLoans}" />
							</h:panelGrid>
							<p:commandButton value="Submit" actionListener="#{reportMB.createPieModel1}" icon="ui-icon-check" ajax="false"/>
						</p:fieldset>
						<p:commandButton value="Refresh dashboard" id="ajax" actionListener="#{reportMB.init}" update="mainform" styleClass="ui-priority-primary" />
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
