<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	 <ui:composition template="templates/template.xhtml">	
	 	<ui:define name="content">				
		    <h:form>
		        <p:dataTable id="applicants" var="applicant" value="#{applicantMB.applicantList}" style="width:100%">
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Name" />
		                </f:facet>
		                <h:outputText value="#{applicant.name}" />
		            </p:column>
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Date of birth" />
		                </f:facet>
		                <h:outputText value="#{applicant.dob}">
		                	<f:convertDateTime pattern="dd-MM-yyyy" ></f:convertDateTime>
		                </h:outputText>
		            </p:column>
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Loan officer" />
		                </f:facet>
		                <h:outputText value="#{applicant.loanOfficer}" />
		            </p:column>
		        </p:dataTable>
		    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>