<html xmlns="http://www.w3.org/1999/xhtml"   
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:ui="http://java.sun.com/jsf/facelets">
   <h:body>
      <ui:composition template="templates/template.xhtml">	
         <ui:define name="content">
         <div class="row">
				<div class="col-lg-12">
			 		<h1 class="page-header">	
         				<b>ERROR: <h:outputText value="#{param['error']}" /></b>
       				</h1>
        		</div>
         	</div>
         </ui:define>
      </ui:composition>
   </h:body>
</html>	
