<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>

	<link rel="stylesheet" type="text/css" href="css/adduser.css" />


	<style type="text/css">
td {
	text-align: left;
	font-family: verdana, arial;
	color: #064073;
	font-size: 1.00em;
}

input {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	color: #666666;
	display: inline-block;
	font-size: 1.00em;
	padding: 5px;
	width: 100%;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	height: auto;
	width: auto;
	cursor: pointer;
	box-shadow: 0px 0px 5px #0361A8;
	float: right;
	margin-top: 10px;
}

table.center {
	margin-left: auto;
	margin-right: auto;
}

.error {
	font-family: verdana, arial;
	color: #D41313;
	font-size: 1.00em;
}
</style>


<script type="text/javascript">
function hideFields() {
	document.getElementById("email").style.display = "block";
}

</script>

</h:head>

<h:body>	 	

	<div style="text-align: center;">
		<div
			style="box-sizing: border-box; display: inline-block; width: auto; max-width: 500px; 
			background-color: #FFFFFF; border: 2px solid #0361A8; border-radius: 5px; 
			box-shadow: 0px 0px 8px #0361A8; margin: 50px auto auto;">
			<div
				style="background: #0361A8; border-radius: 5px 5px 0px 0px; padding: 15px;">
				<span
					style="font-family: verdana, arial; color: #D4D4D4; font-size: 1.00em; 
					font-weight: bold;">If you forgot your password...</span>
			</div>
			<div style="background:; padding: 15px">

				<h:form>	
								
		<h:panelGroup id="AfterSentEmail" rendered="#{SendEmailManagedBean.showPanel}">
			
				
				<div style="font-size: 15; color: blue;" align="left">
				An email have sent to your email account contains your new password.<br></br>
				<br></br>Please login to our web portal and change your password.<br></br>				
			
				</div>
				
				<br></br>
				
				<table>		
				
				<tr>
					<td align="left"><a href="logout"
						style="font-size: 12px; text-decoration: none; font-style: italic">Back
							to Sign In</a></td>
					</tr>
					
				</table>
				
				<br></br>
										
				
			</h:panelGroup> 
				

			<h:panelGroup id="BeforeSentEmail" rendered="#{SendEmailManagedBean.hidePanel}">


					<div style="font-size: 15; color: blue;" align="left">Enter
						your email address you are using in our web portal below, and we
						will send you the password to your email.</div>

					<br></br>					

					<table class='center'>

						<tr>

							<td>						
							
							<h:outputLabel for="emailAddress" value="Email Address : " 
	           				style="font-size: 14;"/>
															
							<h:inputText id="email" 
							value="#{SendEmailManagedBean.emailAddress}" required="true"
							requiredMessage="* Please Enter Email Address!" size="40"
							validator="#{SendEmailManagedBean.ValidateEmailAddress}"
							style="height:22px;width: 275px; font-size: 14px; ">
													
							</h:inputText>
							<br></br>					         			
                			<h:message for="email" style="font-size: 12px; color: red; 
                			font-family: verdana, arial, helvetica, sans-serif;
                			padding-left: 140px;" ></h:message>								
								
						 </td>
						</tr>
					
						<tr>
							<td>
							
							<c:set var="emailAddress" value="#{SendEmailManagedBean.emailAddress}" />  
							
							<h:commandButton id="sendEmail"
									value="Send Email" action="#{SendEmailManagedBean.SendEmail(emailAddress)}"
									style="height:30px;width: 100px; font-size: 15px;">
											
    						</h:commandButton>
									
							</td>
						</tr>

					<tr>
					<td align="left"><a href="logout"
						style="font-size: 12px; text-decoration: none; font-style: italic">Back
							to Sign In</a></td>
					</tr>
				</table>
				
				</h:panelGroup>
				

				</h:form>

			</div>
		</div>
	</div>

</h:body>
</html>