<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	 
	<f:facet name="last">
	<h:outputStylesheet library="mytheme" name="css/style.css" />
  </f:facet>

	<ui:composition template="templates/template.xhtml">	
	 	<ui:define name="content">	
	 	
	 	<center>
		<!-- New Line -->
		<h:outputText value="&lt;br/&gt;" escape="false" />
        <h:outputText value="Update User Information" style="color : blue; font-size: 20;"></h:outputText>

    	</center>	
	 				
		    <h:form id="myForm">
		    
		    <h:messages errorClass="errorMessage" infoClass="infoMessage"
										 warnClass="warnMessage"></h:messages>
		       <br></br>
		        <table>
		           
		            <tr>

		                <td><h:outputLabel id="fName" value="First name : " 
		                style="font-size: 14;"/></td>
		                		                
		                <td><p:inputText id="firstName" value="#{userUpdateMB.user.firstName}"
		                    required="true" requiredMessage="Please Enter First Name!"
		                    style="height:22px;width: 275px; font-size: 13px; ">

		                </p:inputText>
		                
		                 <p:message for="firstName" />
		                    
		                </td>
		            </tr>
		            
		             <tr><td>&#160;</td></tr>
		             
		               <tr>
		                 
		                <td><h:outputLabel id="lName" value="Last name : " 
		                style="font-size: 14;"/></td>
		                		                
		                <td><p:inputText id="lastName" value="#{userUpdateMB.user.lastName}"
		                    required="true" requiredMessage="Please Enter Last Name!"
		                    style="height:22px;width: 275px; font-size: 13px; ">
		                    		                    
		                </p:inputText>
		                
		                    <p:message for="lastName" />
		                    
		                </td>
		            </tr>
		            
		             <tr><td>&#160;</td></tr>
		             
		               <tr>
		                
		                <td><h:outputLabel id="user_name" value="Username : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:inputText id="username" value="#{userUpdateMB.user.username}"
		                    required="true" requiredMessage="Please Enter User Name!"
		                    validator="#{userUpdateMB.ValidateUsernameDuplicate}"
		                    style="height:22px;width: 275px; font-size: 13px; ">

		                </p:inputText>
		                
		                 <p:message for="username" />
		             
		                </td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		             <tr>
		                 
		                <td><h:outputLabel id="password_label" value="Password : " 
		                style="font-size: 14;"/></td>
		                		                
		                <td><p:password id="password" value="#{userUpdateMB.user.password}"
		                    required="true" requiredMessage="Please Enter Password!"
		                    validator="#{userUpdateMB.PasswordValidator}" feedback="true"
		                    style="height:22px;width: 275px; font-size: 13px; ">
		                    
		                     <f:attribute name="confirm" value="#{confirm}" />
		                    		                    
		                </p:password>
		                
		                <p:watermark for="password" value="New password *" />
		                <p:message for="password" />
		                    
		                </td>
		            </tr>
		            
		               <tr><td>&#160;</td></tr>
		            
		         <tr>
		                
		            <td><h:outputLabel for="confirm_label" value="Confirm password : " 
		            style="font-size: 14;"/></td>
		            
			        <td><p:password id="confirm" binding="#{confirm}" required="true" 
			        requiredMessage="Please Enter Password Confirmation!" feedback="true"
			        style="height:22px;width: 275px; font-size: 13px; ">
			        
			        </p:password>
			        
			        <p:watermark for="confirm" value="Confirm new Password *" />
			       <p:message for="confirm" />
			        	            
	                </td>
	            </tr>
		            		            
		             <tr><td>&#160;</td></tr>
		             
		              <tr>
		                
		             <td><p:outputLabel id="date-Of-Bith" value="Date of Birth : " 
		             style="font-size: 14;"/></td>

            		 <td>                	  
                	   <p:calendar id="dateOfBith" value="#{userUpdateMB.dateOfBith}" 
                	   required="true" requiredMessage="Please Enter Date Of Birth"
                	  style="height:22px;width: 275px; font-size: 13px; "
                	  navigator="true" display="inline" validator="#{userUpdateMB.DOBValidator}"
                	  pattern="dd-MMM-yyyy" yearRange="c-100:c">             	  
                	  
                	  </p:calendar>               	  
                	  
                	  <p:watermark for="dateOfBith" value="Date Of Birth" />
					  <p:message for="dateOfBith" />
                	
		              </td>
		            </tr>	
		            
		             <tr><td>&#160;</td></tr>
		             
		            	<tr>
		           			                
		                <td><h:outputLabel id="user_address" value="Address : " 
		                style="font-size: 14;"/></td>
		                
		                <td><p:inputText id="address" value="#{userUpdateMB.user.address}" required="true"
		                requiredMessage="Please Enter your Address." 
		                style="height:22px;width: 275px; font-size: 13px; ">
		                    
		                <f:validateLength maximum="75" />

		                </p:inputText>
		                
		                <p:message for="address" />

		                </td>
		            </tr>     
		            
		             <tr><td>&#160;</td></tr>
		             
		              <tr>
		                
		              <td><h:outputLabel id="country" value="Country : " 
		              style="font-size: 14;"/></td>
		                
		             <td><h:selectOneMenu id="countrybox" value="#{userUpdateMB.user.country}"
		             	required="true" requiredMessage="Please Choose User Country."
         				style="height:22px;width: 275px; font-size: 13px; ">
			   			<f:selectItem itemValue="Australia" itemLabel="Australia" />
			   			<f:selectItem itemValue="Fiji" itemLabel="Fiji" />
			   			<f:selectItem itemValue="Samoa" itemLabel="Samoa" />
			   			<f:selectItem itemValue="Solomon Islands" itemLabel="Solomon Islands" />
			   			<f:selectItem itemValue="Tonga" itemLabel="Tonga" />
               					   	   							
						</h:selectOneMenu>	
						
						<p:message for="countrybox" />

		              </td>
		            </tr>
		              
		               <tr><td>&#160;</td></tr>
		               
		               <tr>
		                
		           		<td><h:outputLabel id="Gender" value="Gender : " 
		           		style="font-size: 14;"/></td>
		                 
			          	<td><h:selectOneRadio id="genderbox" value="#{userUpdateMB.user.gender}" 
			          	       required="true" requiredMessage="Please Choose User Gender."
			          	       style="font-size: 13px; " >
			          
						   	<f:selectItem itemValue="Male" itemLabel="Male&#160;&#160;&#160;&#160;"  />
						   	<f:selectItem itemValue="Female" itemLabel="Female" />
						   	
					   </h:selectOneRadio>
					   
					   <p:message for="genderbox" />
		          	   
		          	    </td>
		            </tr>
		              
		               <tr><td>&#160;</td></tr>
		               
		          <tr>
		                
	           	<td><h:outputLabel id="emailAddress" value="Email Address : " 
	           	style="font-size: 14;"/></td>

           			<td><h:inputText id="email" value="#{userUpdateMB.user.emailAddress}" 
           			required="true"	requiredMessage="Please Enter Email Address!"
           			size="40" validator="#{userUpdateMB.ValidateEmailAddress}"
           			style="height:22px;width: 275px; font-size: 13px; ">
           			
           			</h:inputText>
           			
           			<p:watermark for="email" value="Email Address *" />
					<p:message for="email" />
           			                	
	             	</td>
	            </tr>
		              
		           <tr><td>&#160;</td></tr>
		              
		       <tr>
		                
	           	<td><h:outputLabel id="mobile_Nnumber" value="Mobile Nnumber : " 
	           	style="font-size: 14;"/></td>

           			<td><h:inputText id="mobileNnumber" value="#{userUpdateMB.user.mobileNnumber}" 
           			required="true"	requiredMessage="Please Enter Mobile Nnumber!"
           			size="20" validator="#{userUpdateMB.MobileNumberValidator}"
           			style="height:22px;width: 275px; font-size: 13px; ">
           			
           			</h:inputText>
           			
           			<p:watermark for="mobileNnumber" value="Mobile Nnumber *" />
					<p:message for="mobileNnumber" />
           			
                	
	             	</td>
	            </tr>
	            	                  	  
	            	 
		            <tr>     
		            
		            <h:inputHidden value="#{userUpdateMB.user.id}" id="hiddenId" />
		             
		            <c:set var="userid" value="#{userUpdateMB.user.id}" />   
		               
						<td>
	            		<!-- New Line -->
						<h:outputText value="&lt;br/&gt;" escape="false" />	              		                
						<p:commandButton value="cancel" type="Cancel" onclick="history.go(-1)"
						style="height:30px;width: 100px; font-size: 15px; "/></td>
		                <td>
	            		<!-- New Line -->
						<h:outputText value="&lt;br/&gt;" escape="false" />	        
						&#160;&#160;&#160;&#160;&#160;<p:commandButton id="updateUser" 
						value="Update Details" action="#{userUpdateMB.updateUserBySettings(userid)}" ajax="false"
						style="height:30px;width: 150px; font-size: 15px; "/></td>
		            
		            </tr>
		        </table>	         
		         
		    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>