<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:body>
	<ui:composition template="templates/template.xhtml">
		<ui:define name="content">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Dashboard</h1>
					<h:form>
						<p:tabView>
							 <p:tab title="Total Loans">
								<h:panelGrid columns="2" columnClasses="left,right"
									style="width:100%">
									<p:chart type="metergauge"
										model="#{userReportMB.meterGaugeModel2}"
										style="width:600px;height:375px" />
								</h:panelGrid>
							</p:tab>
							<p:tab title="Cashflows">
								<p:dataTable id="tbl" var="cashflow"
									value="#{userReportMB.cashflowList}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									paginator="true" rows="10" style="margin-bottom:20px">

									<p:column>
										<f:facet name="header">
											<h:outputText value="Client Name" />
										</f:facet>
										<h:outputText value="#{cashflow.applicant}" />
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Date submitted" />
										</f:facet>
										<h:outputText value="#{cashflow.dateSubmitted}">
											<f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
										</h:outputText>
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Weekly repayment" />
										</f:facet>
										<h:outputText value="#{cashflow.weeklyRepayment}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Weeks to repay" />
										</f:facet>
										<h:outputText value="#{cashflow.weeksToPay}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Loan amount" />
										</f:facet>
										<h:outputText value="#{cashflow.loanAmount}" />
									</p:column>
									<p:column headerText="Status">
											<h:outputText value="accepted" rendered="#{cashflow.accepted}" />
											<h:outputText value="rejected" rendered="#{not cashflow.accepted}" />
									</p:column>
								</p:dataTable>
							</p:tab>
							<p:tab title="Clients">
								<p:dataTable id="tbl2" var="appdata"
									value="#{userReportMB.applicantDataList}"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									paginator="true" rows="10" style="margin-bottom:20px">
									<p:column>
										<f:facet name="header">
											<h:outputText value="Client ID" />
										</f:facet>
										<h:outputText value="#{appdata.applicant.id}" />
									</p:column>

									<p:column>
										<f:facet name="header">
											<h:outputText value="Client Name" />
										</f:facet>
										<h:outputText value="#{appdata.applicant.name}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Total loans" />
										</f:facet>
										<h:outputText value="#{appdata.loans}" />
									</p:column>
									<p:column>
										<f:facet name="header">
											<h:outputText value="Loan amount" />
										</f:facet>
										<h:outputText value="#{appdata.loanAmount}" />
									</p:column>
								</p:dataTable>
							</p:tab>
						</p:tabView>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</ui:composition>