<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	 <ui:composition template="templates/template.xhtml">	
	 	<ui:define name="content">	
	 	
	    <c:choose>
		  <c:when test="#{role == 'Admin'}">
	 				
		    <h:form>
		        <p:dataTable id="users" var="user" value="#{userMB.userList}" style="width:100%">
		            
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="First name" />
		                </f:facet>
		                <h:outputText value="#{user.firstName}" />
		            </p:column>
		            
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Last name" />
		                </f:facet>
		                <h:outputText value="#{user.lastName}" />
		            </p:column>
		            
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Email Address" />
		                </f:facet>
		                <h:outputText value="#{user.emailAddress}" />
		            </p:column>
		            
		             <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Country" />
		                </f:facet>
		                <h:outputText value="#{user.country}" />
		            </p:column>
		            
		            <p:column>
		                <f:facet name="header">
		                    <h:outputText value="Actions" />
		                </f:facet>
		             		                
		                <c:set var="userid" value="#{user.id}" />&#160;
		                
		                <h:commandLink value="Delete" action="#{userMB.delete(userid)}" style="color : blue; font-size: 12; font-style:italic" />&#160;&#160;&#160;&#160;|&#160;&#160;
		                <h:commandLink value="View" action="#{userMB.userDetails(userid)}" style="color : blue; font-size: 12; font-style:italic"/>&#160;&#160;&#160;&#160;|&#160;&#160;
		                <h:commandLink value="Update" action="#{userUpdateMB.userUpdate(userid)}" style="color : blue; font-size: 12; font-style:italic"/>
		           
		            </p:column>
		        </p:dataTable>
		    </h:form>
		    
		      </c:when>
		  
		  <c:when test="#{role == 'User'}">
			
			<br></br>
			<p:outputLabel value="You are not Authorized to view the users details !" 
	           	style="font-size: 14; color: red; font-style:italic"/>

		  </c:when>
		  
		  <c:otherwise>
		    <!-- DO SOMETHING -->
		  </c:otherwise>
		</c:choose>   	
		    
		</ui:define>
	</ui:composition>
</h:body>
</html>