<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
	
	 <ui:composition template="templates/template.xhtml">	
	 	<ui:define name="content">	
	 	
	 	
	 	<center>
		<!-- New Line -->
		<h:outputText value="&lt;br/&gt;" escape="false" />
        <h:outputText value="View User Details" style="color : blue; font-size: 20;"></h:outputText>

    	</center>

				
		    <h:form>
		          <br></br><br></br>
		            <table>
		            <tr>		                
		                <td><h:outputLabel id="first_Name" value="First name :" 
		                style="font-size: 14; font-style:italic;"/></td>
		                
		                <td><h:outputLabel id="firstName" value="#{userMB.user.firstName}"
		                style="font-size: 14; color : brown;"/></td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		            <tr>
		                
		                <td><h:outputLabel id="last_Name" value="Last name :"
		                style="font-size: 14; font-style:italic;" /></td>
		                
		                <td><h:outputLabel id="lastName" value="#{userMB.user.lastName}"
		                style="font-size: 14; color : brown;"/></td>
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		            <tr>
		                
		                <td><h:outputLabel id="user_name" value="Username :"
		                style="font-size: 14; font-style:italic;" /></td>
		                
		                <td><h:outputLabel id="username" value="#{userMB.user.username}"
		                style="font-size: 14; color : brown;"/></td>
		            </tr>
		            
		    		<tr><td>&#160;</td></tr>
		            
					<tr>
		                
		                <td><h:outputLabel id="user_role" value="Role :" 
		                style="font-size: 14; font-style:italic;"/></td>
		                
		                <td><h:outputLabel id="roleid" value="#{userMB.roleName}"
		                style="font-size: 14; color : brown;"/></td>
		                		                
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
   		            <tr>
		                
		                <td><h:outputLabel id="user_status" value="Status :" 
		                style="font-size: 14; font-style:italic;"/></td>
		                
		                <td><h:outputLabel id="status" value="#{userMB.user.status}"
		                style="font-size: 14; color : brown;"/></td>
		                		                
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		       
		             <tr>
		                
		             <td><h:outputLabel id="date-Of-Bith" value="Date of Birth :" 
		             style="font-size: 14; font-style:italic;"/></td>
		             
            		 <td><h:outputLabel id="dateOfBith" value="#{userMB.user.dateOfBith}"
            		 style="font-size: 14; color : brown;">
                	  
                	  <f:convertDateTime pattern="dd-MMM-yyyy" timeZone="#{yourBean.timeZone}"/>
                	  
                	  </h:outputLabel>
                	  
		              </td>
		            </tr>	
		            
		            <tr><td>&#160;</td></tr>
		            
		           	<tr>
		           			                
		                <td><h:outputLabel id="user_address" value="Address :" 
		                style="font-size: 14; font-style:italic;"/></td>
		                
		                <td><h:outputLabel id="address" value="#{userMB.user.address}"
		                style="font-size: 14; color : brown;"/></td>

		            </tr> 
		            
		            <tr><td>&#160;</td></tr>      
		            
		             <tr>
		                
		              <td><h:outputLabel id="country" value="Country :" 
		              style="font-size: 14; font-style:italic;"/></td>
		                
		             <td><h:outputLabel id="countrybox" value="#{userMB.user.country}" 
		             style="font-size: 14; color : brown;"/></td>
		             
		            </tr>
		            
		            <tr><td>&#160;</td></tr>
		            
		           <tr>
		                
		           		<td><h:outputLabel for="gender" value="Gender :" 
		           		style="font-size: 14; font-style:italic;"/></td>
		           				                 
			          	<td><h:outputLabel id="genderbox" value="#{userMB.user.gender}" 
			          	style="font-size: 14; color : brown;"/></td>
			          	
		            </tr>	
		            
		            <tr><td>&#160;</td></tr>	            
		            
		           <tr>
		                
	           	<td><h:outputLabel id="emailAddress" value="Email Address :"
	           	style="font-size: 14; font-style:italic;" /></td>

           			<td><h:outputLabel id="email" value="#{userMB.user.emailAddress}"
           			style="font-size: 14; color : brown;"/></td>
	             	
	            </tr>
	            
	            <tr><td>&#160;</td></tr>
	            	            
	            <tr>
		                
	           	<td><h:outputLabel id="mobile_Nnumber" value="Mobile Nnumber :&#160;" 
	           	style="font-size: 14; font-style:italic;"/></td>

           		<td><h:outputLabel id="mobileNnumber" value="#{userMB.user.mobileNnumber}"
           		style="font-size: 14; color : brown;"/></td>
           			
	            </tr>
	            
	            <tr><td>&#160;</td></tr>

		        </table>	         
		         
		    </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>